.status{
    margin: 10px;
    font-size: 20px;
}
.board{
    margin: 10px;
}
.board-row{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    height: 50px;
    width: 50px;
    padding: 6px;
    font-size: 30px;
    font-weight: bold;
}
